<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- 必須 -->
		<add key="ServiceName" value="MyService" />
		<add key="DisplayName" value="My Sample Service" />
		<add key="BinPath" value="C:\Program Files\MyApp\MyApp.exe" />
		<!-- auto | demand | disabled -->
		<add key="StartupType" value="auto" />

		<!-- 任意 -->
		<add key="Description" value="My background worker service." />
		<!-- 依存サービス（複数はスラッシュで区切り例: Tcpip/Afd）-->
		<add key="Dependencies" value="" />

		<!-- 実行アカウント（未設定なら LocalSystem）。例: .\svcUser / DOMAIN\svcUser -->
		<add key="ServiceUser" value="" />
		<add key="ServicePassword" value="" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>